QWidget{
    background-color: #323232;
    color: #b1b1b1;
}
QLineEdit{
    background-color: rgb(100,100,100);
    border: 1px solid grey;
    border-radius: 2px;
    color: #cacaca;
    padding: 3px;
    font-size: 14px;
}
QPushButton{
    background-color: QLinearGradient(x1:0, y1:0,
    x2:0, y2:1,
    stop: 0 #4a4a4a, stop: 0.1 #3a3a3a, stop: 0.5 #323232,stop: 1 #2b2b2b
    );
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    padding: 5px;
}
QPushButton:pressed{
    background-color: black;
}
QPushButton:hover:!pressed{
    background-color: QLinearGradient( x1:0, y1:0, x2:0, y2:1, stop: 0 #595959, stop: 0.1 #464646, stop: 0.5 #383838, stop: 1 #2b2b2b);;
}

QSlider::groove:horizontal {
    border: 1px solid grey;
    height: 4px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #878787, stop:1 #545454);
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b4b4b4, stop:1 #8f8f8f);
    border: 1px solid grey;
    width: 10px;
    margin: -6 0 -6 0;
    border-radius: 2px;
}
QCheckBox:indicator{
    image: url(ico/cb_unchecked.png);
}
QCheckBox:indicator:checked{
    image: url(ico/cb_checked.png);
}
QRadioButton:indicator{
    image: url(ico/rb_unchecked.png);
}
QRadioButton:indicator:checked{
    image: url(ico/rb_checked.png);
}
QAbstractItemView
{
    background-color: #353535;
    alternate-background-color: #282828;
    outline: 0;
}
QTreeView:item,
QAbstractItemView:item
{
    height: 22px;
}
QAbstractItemView:item:hover
{
    background-color: #9e9d99;
    color: black;
}
QAbstractItemView:item::selected
{
    background-color: orange;
    color: #000000;
}

QHeaderView::section
{
   background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #393939, stop: 1 #272727);
   color: #b1b1b1;
   border: 1px solid #191919;
   border-top-width: 0px;
   border-left-width: 0px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 3px;
   padding-bottom: 3px;

}

QTreeView:branch:has-siblings:!adjoins-item
{
    border-image: url(ico/tree/vline.png) 0;
}
QTreeView:branch:has-siblings:adjoins-item
{
    border-image: url(ico/tree/more.png) 0;
}
QTreeView:branch:!has-children:!has-siblings:adjoins-item
{
    border-image: url(ico/tree/end.png) 0;
}

QTreeView:branch:closed:has-children:has-siblings
{
    border-image: url(ico/tree/closed.png) 0;
}

QTreeView:branch:closed:has-children:!has-siblings
{
    border-image: url(ico/tree/closed_end.png) 0;
}

QTreeView:branch:open:has-children:!has-siblings
{
    border-image: url(ico/tree/open_end.png) 0;
}

QTreeView:branch:open:has-children:has-siblings
{
    border-image: url(ico/tree/open.png) 0;
}

QComboBox {
     border: 1px solid gray;
     border-radius: 2px;
     padding: 2px 18px 2px 3px;
     min-width: 2em;
}
QComboBox:drop-down {
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 20px;
     border-left-width: 1px;
     border-left-color: #808080;
     border-left-style: solid;
     border-top-right-radius: 3px;
     border-bottom-right-radius: 3px;
}
QComboBox::down-arrow {
    image: url(ico/arrow_down.png);
}

QSpinBox, QDubleSpinBox{
    border: 1px solid #808080;
}
QSpinBox:up-button{
    subcontrol-origin: border;
    subcontrol-position: top right;
    width: 16px;
}
QSpinBox:down-button{
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width: 16px;
}
QSpinBox::down-button,QSpinBox::up-button
{
    border: 1px solid #808080;
    border-bottom: none;
    border-top: none;
    border-radius: 0;
}
QSpinBox::up-button:pressed, QSpinBox::down-button:pressed
{
    background-color: #828282;
}
QSpinBox::up-button  {
    image: url(ico/spin_up.png);
}

QSpinBox::down-button {
    image: url(ico/spin_down.png);
}
QProgressBar
{
    border: 1px solid grey;
    border-radius: 2px;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
}
QProgressBar:chunk
{
    background-color: #858585;
    width: 3px;
    margin: 1px;
}

QMenuBar::item
{
    background: transparent;
}
QMenuBar::item:selected
{
    background-color: #555555;
    color: #fff;
}
QMenuBar::item:pressed
{
    border: 1px solid #000;
    background-color: #252525;
}

QMenu
{
    border: 1px solid #000;
}
QMenu::item
{
    padding: 2px 20px 2px 20px;
}
QMenu::item:selected
{
    color: #fff;
    background-color: #555555;
}
